@import "fonts";

@import "_reset.scss" layer reset;

@import "@angular/material/prebuilt-themes/indigo-pink.css" layer material;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    background-color: #f49b19;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
