.mat-movie-card {
  width: 300px;
  background-color: #1c1c1c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  color: #c9c9c9;

  .movie-image {
    height: 200px;

  }

  .movie-details {
    .card-overview {
      width: 100px;
      height: 100px;
      white-space: nowrap;
      overflow: auto;
    }
  }

  button {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid transparent;
    margin-bottom: 10px;
    //color: white;
    border-radius: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn-favorite {
    background-color: chocolate;
  }

  .btn-watch {
    background-color: #6a8f2b;
  }

}

.p-movie-card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  position: relative;

  .rating {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -60%);
    background-color: #ffc400;
    padding: 2px 10px;
    border-radius: 15px;
    color: white;
  }

  .movie-image {
    height: 330px;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }

  .p-card-content {
    padding: 0;
  }
}

.p-rating-star {
  background-color: #ab2d2d;
  color: #ab2d2d;
}


