.movie-card {
  width: 300px;
  background-color: #1c1c1c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  color: #c9c9c9;

  .movie-image {
    height: 200px;
  }

  .movie-details {

  }

  button {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid transparent;
    margin-bottom: 10px;
    color: white;
    border-radius: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn-favorite {
    background-color: chocolate;
  }

  .btn-watch {
    background-color: #6a8f2b;
  }

}
