
<p-card
  [header]="movie.title"
  [subheader]="movie.genre"
  class="p-movie-card"
  [style]="{'background-color': 'transparent', 'box-shadow': 'none', color: '#c9c9c9'}"
>

  <ng-template pTemplate="header">
    <div class="rating">{{ movie.vote_average }}</div>
    <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.backdrop_path" [routerLink]="['/movie', movie.id]" alt="{{ movie.title }}" class="movie-image">
  </ng-template>

  <ng-container *ngIf="isEnableAdd">
      <p-button icon="pi pi-heart" rounded="true" text="true" (click)="addToFavorite(movie)"/>
      <p-button icon="pi pi-plus" rounded="true" text="true" (click)="addToWatchList(movie)"/>
  </ng-container>
    <ng-container *ngIf="isEnableDelete">
      <p-button icon="pi pi-trash" rounded="true" text="true" (click)="delete(movie)"/>
  </ng-container>

</p-card>
