<h2>Усі фільми:</h2>
<div class="movie-list">
  <div class="movie-item" *ngFor="let movie of movieList">
    <app-movie-card
      [movie]="movie"
      (addToFavoriteEvt)="addToFavorite($event)"
      (addToWatchListEvt)="addToWatchList($event)"
    ></app-movie-card>
  </div>
</div>

<div class="saved-movie">
  <div>
    <h2>Улюблені:</h2>
    <div class="movie-list">
      <div class="movie-item" *ngFor="let movie of favoriteMovies">
        <app-movie-card
          [movie]="movie"
        ></app-movie-card>
      </div>
    </div>
  </div>
  <div>
    <h2>Подивитись:</h2>
    <div class="movie-list">
      <div class="movie-item" *ngFor="let movie of toWatchMovies">
        <app-movie-card
          [movie]="movie"
        ></app-movie-card>
      </div>
    </div>
  </div>
</div>
