.movie-list {
  display: flex;
  gap: 10px;
}

.saved-movie {
  display: flex;
  gap: 20px;
  margin-block: 10px;


  & > div {
    //width: 50%;
    border: 1px solid gray;
    border-radius: 10px;
    min-height: 470px;
    padding: 0 10px 10px 10px;
    overflow-x: auto;

    h2 {
      margin-block: 10px;
    }
  }
}
