<!--<div class="page-wrapper">-->
<!--  <app-page-header></app-page-header>-->
<!--&lt;!&ndash;  <app-page-header&ndash;&gt;-->
<!--&lt;!&ndash;    [favoriteMovieIds]="favoriteMovieListIds"&ndash;&gt;-->
<!--&lt;!&ndash;    [watchLaterMovieIds]="watchLaterMovieListIds"&ndash;&gt;-->
<!--&lt;!&ndash;  ></app-page-header>&ndash;&gt;-->
<!--</div>-->


<h2>Popular movies:</h2>
<app-movie-list
  [movies]="movies"
  [isEnableAdd]="true"
  (addToFavoriteEvt)="addToFavorite($event)"
  (addToWatchListEvt)="addToWatchList($event)"
></app-movie-list>
