.menu {
  ul {
    margin-top: 50px;

    li {
      padding-block: 12px;
      padding-inline: 40px 10px;
      letter-spacing: 2px;

      &:hover {
        background-color: #17191e;
        transition: .5s;
      }

      &:has(> a.active-link) {
        background-color: #17191e;
        transition: .5s;
      }

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
